#autosite-demo-bar {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1.1rem;
  padding: 15px 5.62vw;
  background-color: rgba(255, 255, 255, 0.93);
  -webkit-box-shadow: 0px 0px 10px -5px #2a2a2a;
  -moz-box-shadow: 0px 0px 10px -5px #2a2a2a;
  box-shadow: 0px 0px 10px -5px #2a2a2a; }
  #autosite-demo-bar p {
    margin: 0; }
  #autosite-demo-bar label {
    margin-right: 5px; }
  #autosite-demo-bar select {
    padding: 5px;
    font-weight: bold; }

body.demo-architect .primary-color {
  color: #FFE066; }
body.demo-architect .primary-bg {
  background-color: #FFE066; }
body.demo-architect .secondary-color {
  color: #50514F; }
body.demo-architect .secondary-bg {
  background-color: #50514F; }
body.demo-architect .tertiary-color {
  color: #E2E2E2; }
body.demo-architect .tertiary-bg {
  background-color: #E2E2E2; }
body.demo-architect .site-brand {
  color: #000000; }
body.demo-architect section.primary::before,
body.demo-architect section.primary::after {
  background-color: #FFE066; }
body.demo-architect section.secondary::before,
body.demo-architect section.secondary::after {
  background-color: #50514F; }
body.demo-architect section.tertiary::before,
body.demo-architect section.tertiary::after {
  background-color: #E2E2E2; }

/*# sourceMappingURL=styles.css.map */
