$primary: #FFE066;
$secondary: #50514F;
$tertiary: #E2E2E2;

body.demo-architect {

	.primary-color { color: $primary; }
	.primary-bg { background-color: $primary; }
	.secondary-color { color: $secondary; }
	.secondary-bg { background-color: $secondary; }
	.tertiary-color { color: $tertiary; }
	.tertiary-bg { background-color: $tertiary; }

	.site-brand {
		color: #000000;
	}

	section.primary::before,
	section.primary::after {
	    background-color: $primary;
	}

	section.secondary::before,
	section.secondary::after {
	    background-color: $secondary;
	}

	section.tertiary::before,
	section.tertiary::after {
	    background-color: $tertiary;
	}

}