#autosite-demo-bar {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 1.1rem;
	padding: 15px 5.62vw;
	background-color: rgba(255,255,255,0.93);
	-webkit-box-shadow: 0px 0px 10px -5px rgb(42, 42, 42);
    -moz-box-shadow: 0px 0px 10px -5px rgb(42, 42, 42);
    box-shadow: 0px 0px 10px -5px rgb(42, 42, 42);

	p {
		margin: 0;
	}	

	label {
		margin-right: 5px;
	}

	select {
		padding: 5px;
		font-weight: bold;
	}
}